<p id="notice"><%= notice %></p>

<h2>Your Cart</h2>
<ul>
  <% for item in @cart.line_items %>
      <li> <%= item.quantity %> &times; <%= item.product.name %></li>
  <% end %>
</ul>
	Total Price: <%= @cart.total_price %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
